@charset "utf-8";

/* font-family: 'Montserrat', 'Noto Sans KR',sans-serif;
 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&family=Noto+Sans+KR:wght@300;400&display=swap");

/* 변수선언 */
@import url(./variable.css);

/* 기본(모바일) */
body {
  font-family: var(--font-family-title);
  color: var(--p-color: rgb(33, 37, 41));
}

/*  kakao_btn */
.kakao_btn {
  height: 50px;
  position: fixed;
  bottom: 20px;
  left: 20px;

  z-index: 99999;
}

.block {
  display: block;
}
/****** header ******/
header {
  width: 100%;
  height: 60px;
  background-color: #fff;

  position: fixed;
  top: 0;
  z-index: 999999;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 60px 1fr;
  align-items: center;
}
header h1 {
  background: url(./images/Logo.png) no-repeat 5vw 0 / contain;
  text-indent: -999999px;
  height: 60px;
}

header .menu {
  width: 100%;
  height: 30px;
  background: url(./images/menu_.png) no-repeat 90% 100% / contain;
}
header nav {
  width: 200%;
  background-color: #fff;

  display: none;
}

header .global-nav li {
  width: 90%;
  height: 50px;
  margin-left: 5vw;
}

header .global-nav a {
  font-family: var(--font-family-p);
  color: #000;
  font-weight: 500;
  text-transform: uppercase;

  background-color: #fff;

  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  border-top: 1px solid #ddd;
}
header .global-nav li:first-child a {
  border-top: none;
}
header .global-nav li:hover a {
  color: cornflowerblue;
}
header .menu:hover + nav {
  display: block;
}

/****** main  sec1******/

main .m-top {
  width: 100%;
  height: 120vh;
  padding-top: 7vw;
  text-align: center;

  background: linear-gradient(137deg, #fff6b7, #f5d8d8, #a9b4ff, #c2ffd8);
  background-size: 800% 800%;

  animation: ani-bg 10s ease infinite;
}

@keyframes ani-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main .m-top p {
  font-family: var(--font-family-p);
  color: var(--mtop-color);
  font-size: var(--font-size-17);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 50px;
}

main .m-top h2 {
  font-size: var(--font-size-50);
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 4rem;
  margin-top: 30px;
}
main .m-top .img-list {
  width: 80%;
  height: 78.25vh;
  margin: 0 auto;
  background: url(./images/watchAll.png) no-repeat 0 100% / 300%;
  animation: ani-watch 17s ease infinite;

  position: relative;
}

@keyframes ani-watch {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 100%;
  }
}
main .m-top .img-list li {
  text-indent: -999999px;
}
main .m-top .img-list .img-number {
  font-family: var(--font-family-p);
  display: flex;
  justify-content: center;
  gap: 10px;

  position: absolute;
  left: 50%; bottom: 10%; 
  transform: translateX(-50%);
}
main .m-top .img-list .img-number li {
  text-indent: 0;
}

/****** main  sec2******/
.m-topTxt {
  padding: 6vw 5vw;
}
.m-topTxt .topTxt {
  color: var(--p-color);
  margin: 6vw 4vw;
  border-bottom: 1px solid #ddd;
}
.m-topTxt .topTxt:last-child {
  border-bottom: none;
}
.m-topTxt .topTxt h3 {
  font-size: var(--font-size-24);
  font-weight: 700;
  margin-bottom: 18px;
}
.m-topTxt .topTxt p {
  font-family: var(--font-family-p);
  font-weight: 400;
  margin-bottom: 6vw;
}

/****** main  sec3******/
.m-topImg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 282px) repeat(2, 137px) repeat(2, 282px);
  gap: 1vh;
}
.m-topImg .imgBox:nth-child(1) {
  background: url("./images/1200x900.jpeg") no-repeat 50% / cover;
}
.m-topImg .imgBox:nth-child(2) {
  background: url("./images/800x600.jpeg") no-repeat 50% / cover;
}
.m-topImg .imgBox:nth-child(3) {
  background: url("./images/800x600 (1).jpeg") no-repeat 50% / cover;
}
.m-topImg .imgBox:nth-child(4) {
  background: url("./images/1200x450.jpeg") no-repeat 50% / cover;
}
.m-topImg .imgBox:nth-child(5) {
  background: url("./images/1200x450 (1).jpeg") no-repeat 50% / cover;
}
.m-topImg .imgBox:nth-child(6) {
  background: url("./images/800x600 (2).jpeg") no-repeat 50% / cover;
}
.m-topImg .imgBox:nth-child(7) {
  background: url("./images/800x600 (3).jpeg") no-repeat 50% / cover;
}

.m-topImg .imgBox-t {
  width: 100%;
  height: 100%;
  background-color: #ffffff73;
  font-size: var(--font-size-24);
  font-weight: 700;
  letter-spacing: -1px;
  display: grid;
  place-items: center;
}

/****** main  sec4******/

/* 공통 */
section > h3 {
  margin: 40px 0;
  font-size: var(--font-size-35);
  font-weight: 700;
}
section > .title::after {
  content: "";
  border: 2px #000 solid;
  display: block;
  width: 50px;
  margin: 24px auto;
}

.m-business {
  text-align: center;
}

.m-business p {
  font-family: var(--font-family-p);
  font-weight: 300;
  font-size: var(--font-size-20);
  line-height: 1.6;
  margin-bottom: 10vw;
}

.m-business .busiBox {
  width: 80%;
  margin: 0 auto;
}
.m-business .busiBox img {
  width: 100%;
}
.m-business .busiBox h4 {
  font-size: var(--font-size-18);
  font-weight: 600;
  margin-top: 30px;
}

.m-business .busiBox p {
  font-size: var(--font-size-16);
  padding: 0 8vw 0;
}

/****** main  sec5******/
.m-youtube {
  background-color: var(--bg-color);
  padding: 26px 10vw;
}

.m-youtube p {
  line-height: 1.4;
  margin-bottom: 60px;
  font-family: var(--font-family-p);
  font-weight: 300;
}
.m-youtube .video {
  width: 100%;
  margin: 0 auto 43px;
}
.m-youtube .video .youtube {
  width: 100%;
  aspect-ratio: 16/9;
}

/****** main  sec6******/

.m-service h3 {
  text-align: center;
}
.m-service figure {
  width: 85%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 10px 10px #dddddd8e;
  margin-bottom: 20vw;
}
.m-service figure img {
  width: 100%;
}
.m-service figure figcaption {
  font-weight: 600;
  padding: 20px 30px 10px 20px;
}
.m-service figure p {
  font-family: var(--font-family-p);
  font-weight: 300;
  color: var(--mtop-color);
  padding: 0 30px 20px 20px;
}

.m-service .service-logo {
  background-color: var(--bg-color);
  display: grid;
  grid-template: repeat(4, 20vw) / repeat(3, 1fr);
  gap: 2vw;

  text-indent: -99999px;
  padding: 50px;
}
.m-service .service-logo .logo {
  opacity: 70%;
}
.m-service .service-logo .logo:hover {
  opacity: 100%;
}
.m-service .service-logo .logo1 {
  background: url(./images/Clients.png) no-repeat 50% / contain;
}
.m-service .service-logo .logo2 {
  background: url(./images/Clients1.png) no-repeat 50% / contain;
}
.m-service .service-logo .logo3 {
  background: url(./images/Clients2.png) no-repeat 50% / contain;
}
.m-service .service-logo .logo4 {
  background: url(./images/Clients3.png) no-repeat 50% / contain;
}
.m-service .service-logo .logo5 {
  background: url(./images/Clients4.png) no-repeat 50% / contain;
}
.m-service .service-logo .logo6 {
  background: url(./images/Clients5.png) no-repeat 50% / contain;
}
.m-service .service-logo .logo7 {
  background: url(./images/Clients6.png) no-repeat 50% / contain;
}
.m-service .service-logo .logo8 {
  background: url(./images/Clients7.png) no-repeat 50% / contain;
}
.m-service .service-logo .logo9 {
  background: url(./images/Clients8.png) no-repeat 50% / contain;
}
.m-service .service-logo .logo10 {
  background: url(./images/Clients9.png) no-repeat 50% / contain;
}
.m-service .service-logo .logo11 {
  background: url(./images/Clients10.png) no-repeat 50% / contain;
}
.m-service .service-logo .logo12 {
  background: url(./images/Clients11.png) no-repeat 50% / contain;
}

/****** main  sec7******/
.m-location {
  text-align: center;
  font-family: var(--font-family-p);
  width: 80%;
  margin: 0 auto;
}
.m-location h3 {
  font-family: var(--font-family-title);
}
.m-location .map {
  width: 100%;

  font-size: var(--font-size-20);
  text-transform: uppercase;
  font-weight: 700;

  display: flex;
  justify-content: center;
}
.m-location .map li {
  width: 100%;
}
.m-location .map a {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 48px;
}
.m-location .map li:first-child a {
  border-bottom: 3px solid #000;
}

.m-location .map-txt {
  text-align: left;
  font-size: var(--font-size-17);
  font-weight: 300;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}
.m-location .map-txt:last-child {
  border-bottom: 1px solid #000;
  margin-bottom: 14vw;
}
.m-location .map-txt h5 {
  font-weight: 600;
}

/****** main  sec8******/
.m-talk {
  text-align: center;
  width: 100%;
  aspect-ratio: 4/3;
  background: url(./images/img-08.jpeg) no-repeat 50% / cover;

  color: #fff;
}
.m-talk .talkBox {
  background-color: rgba(27, 138, 248, 0.288);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
.m-talk .talkBox h3 {
  margin: 20px 0;
  font-size: var(--font-size-35);
  font-weight: 700;
}
.m-talk .talkBox p {
  font-weight: 300;
  font-size: var(--font-size-20);
  line-height: 1.6;
  width: 100%;
  margin: 0 auto;
}
.m-talk .talkBox .btn {
  font-family: var(--font-family-p);
  font-size: var(--font-size-18);
  font-weight: 700;
  margin: 20px auto;
  width: 200px;
  height: 60px;
  line-height: 57px;
  border: 2px solid #fff;
}
.m-talk .talkBox .btn:hover {
  border: 2px solid #fff;
  background-color: #fff;
  color: var(--p-color);
}

/****** footer ******/
footer .f-top {
  padding-top: 80px;
  padding-left: 5vw;

  font-family: var(--font-family-p);
  font-size: var(--font-size-15);
  font-weight: 300;

  background-color: #f7f7f7;
}
footer .f-top h1 {
  background: url(./images/Logo.png) no-repeat 0 0 / 126px 101px;
  text-indent: -999999px;
  height: 150px;
}
footer .f-top .f-top-txt {
  width: 60%;
}
footer .f-top .f-top-txt h4 {
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
footer .f-top .f-top-txt p:last-child {
  padding-bottom: 20px;
}
footer .f-top .sns {
  display: grid;
  grid-template: 30px / repeat(5, 30px);
  gap: 3vw;
  padding-bottom: 50px;
}
footer .f-top .sns svg {
  width: 45%;
}
footer .f-top .sns li:first-child svg {
  width: 30%;
}
footer .f-top .sns li:nth-child(3) svg {
  width: 54%;
}

footer .f-bottom {
  background-color: var(--bg-color);
  padding: 50px 30px;
  font-family: var(--font-family-p);
  font-size: var(--font-size-14);
  text-align: center;
}
footer .f-bottom p:first-child {
  margin-bottom: 20px;
  color: rdb(85, 85, 85);
}
